// Place all the styles related to the admin_panel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin-content-section{}
.admin-page-content.container{
  margin-top: 50px;
}
html body div{
  font-size: 14px;
  line-height: 14px;
}
.admin-content-section-header{
  line-height: 24px
}
.admin-content-section-header p{
  font-size: 24px;
  margin-bottom: 0;
}
.admin-content-section-desc{
  margin-top: 8px;
  line-height: 0px;
}
.admin-content-section-desc p{
  font-size: 14px;
  line-height: 14px;
}
.admin-content-section-content{}
.table-data-button {
  display: inline-block;
}
.admin-content-section-content tr div.table-data-button{
  float: right;
  margin: 5px 10px;
}
div.table-data-button a.btn{
  font-size: 10px;
}